body {
    margin: 0 auto;                         /*параметры шрифта для всей страницы*/
    --font-raleway : 'Raleway', sans-serif;
    max-width: 1230px;
    font-size: 16px;
    color: #354657;
}

.page {
    
    margin: 0 auto;     /*параметры для основного содержимого страницы*/
    width: 70%;
    font-family: var(--font-raleway);
}

.header__logo {                 /*выравниваем компоненты шапки сайта - логотипа и меню навигации*/
    display: inline-block;
    width: 25%;
    margin-right: 4rem;
}

.header__navmenu {
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
}

.header__navmenu-items {
    margin-right: 2rem;
    color: #354657;
    
    display: inline-block;
    font-weight: 700;
}
.header__navmenu a {
    text-decoration: none;
}

.header__nav-row {
    font-size: 0.875rem;
    padding-top: 10px;
}

.header__navmenu-forms {
    display: inline-block;
    padding-left: 18rem;
}

.header__navmenu-forms a {
    margin-right: 0;
    margin-left: 1.5rem;
}

.title {                    /*заголовок оформления заказа*/
    font-size: 1.875rem;
    padding: 2rem 0 1rem 0;
    border-bottom: 1px solid #E2E2E2;
}

.sidebar {         
    display: inline-block;
    
}
.info-input {               /*фоновый цвет и отступы которые повторяются у нескольких блоков на странице*/
    
    background-color: #F0F2F5;
    padding: 5px 0 5px 28px;
}

.sidebar__login {               /*блок входа/регистрации*/
    width: 24rem;
    display: inline-block;
    height: 7.06rem;
    background-color: #F0F2F5;
    padding: 5px 0 5px 28px;
    
}

label {
    font-weight: 400;
}

.subtitle {             /*параметры шрифта, который встречается в нескольких местах на странице*/
    font-size: 1.25rem;
    font-weight: 700;

}

.sidebar__info {
    height: 54.12rem;
    
}

.subtitle-low {                     /*параметры шрифта, который встречается в нескольких местах на странице*/
    font-weight: 400px;
    color: #354657;
}

.sidebar__main-input {          /*параметры шрифта, который встречается в полях заполения форм*/
    width: 21.5rem;
    height: 2.375rem;
    padding-left: 10px;
    font-size: .875rem;
    color: #ADA8A8;
}

.container {
    display: inline-block;          /*центральный блок страницы с выбором доставки, оплаты и подтверждения заказа */
    vertical-align: top;
}

.container__delivery, .container__payment  {        /*параметры блоков выбора доставки и оплаты*/
    width: 47rem;
    margin-left: 2rem;
    height: 7.06rem;
    margin-bottom: 2rem;
}

.items {
    font-size: .875rem;
    font-weight: 700;
    margin-left: 2rem;
}

.items span {
    width: 47rem;
    padding-right: 6.6em ;
    
}

.mycart {                       /*выравниваем блок с товарами в корзине , кнопками сброса, пересчета и изменения количества товаров */
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    
}

.mycart> input {
    margin-left: -3rem;;
}

.mycart> .one {
    width: 2rem;
    margin-left: 0rem;
}

.mycart__text {
    margin-right: 0rem;
}

.summary>div {
    display: inline-block;
}
.summary div:first-child {
    line-height: 1.3rem;
    padding-left: 28rem;
    padding-right: 2rem;
}

.order__submit {
    margin-left: 2rem;
    margin-top: 4rem;
}
textarea {                      /*делаем форму для комментариев неизменяемой по размеру и задаем ей высоту и ширину*/
    width: 95%;
    height: 6rem;
    resize: none;
}

.order__submit-button> button {   /*параметры кнопки подтверждения заказа*/
    background-color: #946FD3;
    width: 12.875rem;
    height: 3.375rem;
    border-radius: 30px;
    margin-left: 34rem;
    color: white;
    margin-bottom: 1rem;
}

.order__submit-button> button:hover {
    cursor: pointer;
}

form:last-of-type {
    padding-top: 2rem;
}

.footer {                   /*нижний блок страницы с контактами и ссылками на соцсети*/
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 9rem;
    border-top: 1px solid #E2E2E2;
    padding: 2rem 0 2rem 0;
    justify-content: space-between;
}

.footer a {
    text-decoration: none;
}

.instagram, .youtube, .linkedin, .pinterest {       /*отступы для кнопок соцсетей*/
    margin-left: 1rem;
}
