body {
    font-size: 18px;
    background-image: url("../img/background.png");   /*фон для всей страницы*/
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
}
header {
    padding-top: 32px;
    width: 80%;
    margin: 0 auto;
}

.main-logo {            /*логотип до наведения курсора*/
    width: 46px;
    height: 44px;
    background-image: url("../img/logo.png");
}

.logoname {
    display: inline-block;
}

.logoname:hover .name{    /*меняем цвет текста логотипа при наведении курсора*/
    color: #f26522;
}

.logoname:hover .main-logo {    /*логотип при наведении курсора*/
    background-image: url("../img/logo1.png");
}

.logo {                             /*параметры логотипа, текста логотипа и контактов*/
    display: inline-block;
    vertical-align: top;
}

.name {
    display: inline-block;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.milan {
    font-size: 1.5rem;
    margin: 0;
}

.holidays {
    margin-top: -1px;
}

.contacts {

    display: inline-block;
    padding-left: 653px;
    padding-bottom: 5px;
    vertical-align: top;
    text-align: right;
    font-family: verdana;
}

.contacts a {
    color: white;
    text-decoration: none;
}
                    /*главный блок*/
main {
    width: 80%;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    margin-top: 30px;
}

.cards {                    /*единый для всех картинок-блоков класс*/
    display: inline-block;
    width: 307px;
    height: 200px;
}

.cards a {
    text-decoration: none;
    color: white;
}

.card1 {                  /*фон первой картинки-блока*/
    
    background-image: url("../img/Picture1.png");
    background-repeat: no-repeat;
}

.price {
    display: inline-block;
    padding-left: 13px;
    color: white;
    font-family: verdana;
    margin-top: 19px;
    font-size: 0.7rem;
}

.details {
    display: inline-block;
    color: white;
    padding-left: 143px;
    font-family: verdana;
    margin-top: 19px;
    font-size: 0.7rem;
}



.text1 {
    color: white;
    margin-top: 9px;
    text-align: center;
    font-family: verdana;
}

.float-picture {            /*скрытая в обычном режиме картинка-кнопка с ценой и ссылкой*/
    visibility: hidden;
    width: 307px;
    height: 63px;
    background-color: #f26522;
    margin-top: 137px;
}

.cards:hover .under-text{           /*меняем цвет текста под картинкой-блоком при наведении курсора*/
    color: #f26522;
}

.cards:hover .float-picture {           /*при наведении курсора на картинку-блок делаем картинку с ценой и ссылкой видимой*/
    visibility: visible;
}

.card2 {                            /*фоновые изображения для остальных картинок - блоков*/
    background-image: url("../img/picture2.png");
    background-repeat: no-repeat;
}

.card3 {
    background-image: url("../img/picture3.png");
    background-repeat: no-repeat;
}

.card4 {
    background-image: url("../img/picture4.png");
    background-repeat: no-repeat;
    margin-top: 51px;
}

.card5 {
    background-image: url("../img/picture5.png");
    background-repeat: no-repeat;
}

.card6 {
    background-image: url("../img/picture6.png");
    background-repeat: no-repeat;
}

.center-block {    /*две центральных картинки-блока (2 и 5) используем для отступов и равномерного размещения блоков на странице*/
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.footer {               /*подвал сайта*/
    margin-top: 83px;
    margin-left: -60px;
}

.footer p {
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 0.8rem;

}