.header {
    background-color: #2d7053;
    width: 750px;
    height: 235px;
 
    

}

.header-container {
    margin-left: 50px;
}

.circle {
    display: inline-block;
    width: 141px;
    height: 141px;
    border-radius: 50%;
    background-color: white;
    margin-top: 50px;
    margin-left: -20px;

}

.name {
    display: inline-block;
    height: 134px;
    width: 131px;
    color:white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 2em;
   margin-left: 25px;

    }

.lines {
    display: inline-block;
    margin-left:259px;
    width: 82px;
    margin-bottom: 29px;
}

 .menu {
    display: block;
    background-color: white; 
    height: 12px;
    width: 84px;
    margin-bottom: 13px;
    border-radius: 5px;
} 

.banner {
    background-image: url(./img/background.png);
    background-repeat: no repeat;
    height: 466px;
    width: 750px;
}

.banner-shadow {
    display:block;
    width: 550px;
    height: 101px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 9px;
    margin-bottom: 22px;
    padding-top: 345px;
    padding-left: 191px;
}

.button-top {
    width: 341px ;
    height: 71px;
    background-color: #cb9223 ;
}

.button-field {
    margin-left: 10px; 
    text-decoration: none ;
}

.button-text {
   color: #ffffff; 
   font-size: 1.5em;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   height: 51px;
   margin-top: -18px;
   padding-top: 21px;
}
.main-top {
    display: inline-block;
}


.photo {
    display: inline-block;
    margin-top: 73px;
    margin-left: 44px;
}

.myphoto {
    border-radius: 50%; 
}

.aboutme {
    display: block;
}
.myname {
    display: block;
    margin-left: 345px;
    margin-top: -193px;
    font-size: 2em;
    font-family: sans-serif;
}

.proffesion {
    display: block;
    font-size: 1.3em;
    width: 245px;
    height: 50px;
    font-family: sans-serif;
    margin-left: 347px;
    margin-top: 14px;
}

.some-text {
    width: 590px;
    height: 166px;
    font-family: sans-serif;
    padding-top: 92px;
    padding-left: 48px;
    font-size: 1.3em;
}

.reasons {
    width: 545px;
    height: 32px;
    font-size: 2em;
    font-family: sans-serif;
    padding-left: 45px;
}
.reasons-list {
    padding-left: 10px;
}

ul {
    list-style-type: "- ";
    font-family: sans-serif;
    font-size: 1.3em;
}

.button-bottom {
    width: 341px ;
    height: 71px;
    background-color: #cb9223 ; 
    margin-left: 191px; 
}

.button-field1 {
    text-decoration: none;
}

.button-text1 {
    color: #ffffff; 
   font-size: 1.5em;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   height: 71px;
   padding-top: 22px;
}

.footer {
    background-color: #888888;
    width: 750px;
    height: 153px;
}

.footer-container {
    margin-left: 10px;
    margin-top: 42px;
}

.circle1 {
    display: inline-block;
    background-color: #ffffff;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 30px;
}

.contacts {
    display: inline-block;
    margin-left: 83px;
    color: #ffffff;
}
.adress {
    display: inline-block;
    padding-left: 208px;
    color: #ffffff;
}
.tel {
    color: #ffffff;
}

.mail {
    color: #ffffff;
}