
html {
    --font-arima: 'Arimo', sans-serif;
}


.container {
    max-width: 1192px;
    border: 20px solid #3a4965;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-family: var(--font-arima);
}

.plan-type {
    font-size: 1em;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-weight: 700;
    padding: 0.4em;
    
}

td .choose {
    color: black;
    margin-bottom: 0;
}

td .plan {
    color: black;
    font-size: 1.8em;
    margin-top: 0;
}

.standart {
    background-color: #89c331;
}

.ultimate {
    background-color: #f04a56;
    font-size: 1.6em;
}

.premium {
    background-color: #20807c;
}

.price__usd {
    display: inline-block;
    font-size: 3.75em;
    font-weight: 700;
}

.price__per-month {
    display: inline-block;
    text-align: left;
}

.price__per-month p:nth-child(1) {
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: 700;
}

.price__per-month p:nth-child(2) {
    margin-top: .25em;
}

.inner-cells {
    color: rgba(72, 72, 72, 255);
}

.inner-cells td {
    padding: 1em;
}

.inner-cells:nth-child(even) {
    background-color: #e3e3e3;
}




.inner-cells__storage::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 25px;
    background-image: url(../img/storage.png);
    background-repeat: no-repeat;
    padding-left: 8px;
    vertical-align: middle;
}

.inner-cells__bandwith::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 25px;
    background-image: url(../img/bandwidth.png);
    background-repeat: no-repeat;
    padding-left: 8px;
    vertical-align: middle;
}

.inner-cells__email::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 25px;
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    padding-left: 8px;
    vertical-align: middle;
}

.inner-cells__support::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 25px;
    background-image: url(../img/support.png);
    background-repeat: no-repeat;
    padding-left: 8px;
    vertical-align: middle;
}

.inner-cells__products::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 25px;
    background-image: url(../img/products.png);
    background-repeat: no-repeat;
    padding-left: 8px;
    vertical-align: middle;
}

.inner-cells__users::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 25px;
    background-image: url(../img/users.png);
    background-repeat: no-repeat;
    padding-left: 8px;
    vertical-align: middle;
}

.footer td:nth-child(1) {
    background-color: #dddddd;
}

.footer td:nth-child(even) {
    background-color: #eeeeee;
}


.footer-buttons {
    margin: 1.5em auto 1.5em auto;
    width: 45%;
    color: rgb(255, 255, 255);
    border-radius: 5px; 
    
}

.footer-buttons a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 1em;
}


.contact-us {
    background-color: #484848;
}

.buy_now-standart {
    background-color: #89c331;
}

.buy_now-ultimate {
    background-color: #f04a56;
}

.buy_now-premium {
    background-color: #20807c;
}

