
.logo {                             /*параметры логотипа Ramda*/
    padding: 6px 0px 20px 100px;
}

.logo-text {
    text-decoration: none;
}


.logo span {               
    font-size: 4em;
    
    
}
.ra {
    color: black;
}
.mda {
    color: #4bcaff ;
}



.navigation-menu {   /*верхнее навигационное меню*/
    width: 1280px ;
    height: 69px;
    background-color: #35444f;
    margin: 0 100px 0 100px;
}


.nav-menu {  /*параметры текста меню навигации*/
    display: inline-block;
    color: white;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 21px;
    padding-bottom: 20px;
    
}

.nav-menu a {   /*параметры ссылок*/
    text-decoration: none;
    color: white;
    padding: 1.3rem;
    padding-right: 57px;
    padding-left: 54px;
}
div .nav-menu:hover {   /*меняем цвет ссылки при наведении курсора*/
    background-color: #222f3a;
    background-size: contain;
       
}

.main-content {  
                                 /*отступы слева и справа для основного блока*/
    padding: 0 100px 0 100px;
}

ul {
    list-style-type: none;
}

.left-menu {                     /*параметры для меню слева*/
    display: inline-block;
    width: 344px ;
    height: 399px;
    border: 1px solid;
    margin-top: 35px;
    vertical-align: top;
}

.menu-list {
    margin-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    
}

.menu-list li {
    height: 79px;  
}

.menu-list li:hover a{              /*Изменения при наведении на ссылку*/
    background-color: #dbdbdb;
    padding-left: 60px;
    color: black;
}

.menu-list a {              /*описание ссылки*/
    display: block;
    text-decoration: none;
    font-size: 1.8em;
    color: #495863;
    padding-left: 30px;
    padding-bottom: 28px;
    padding-top: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {            /*основной блок страницы*/
    width: 896px;
    height: 529px;
    display: inline-block;
    border: solid 1px;
    margin-top: 35px;
    margin-left: 23px;
}

.picture {          /*размещаем картинку*/
    display: inline-block;
    padding-top: 74px;
    padding-left: 294px;
    padding-bottom: 64px;
}

.main-text {            /*параметры текста*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.main-text p {
    margin-top: 29px;
    margin-bottom: 25px;
}

.footer {                           /*подвал страницы со ссылками*/
    margin: 50px 100px 30px 100px;
    width: 1280px;
    height: 69px;
    border: 1px solid;
    background-color: #b4b7ba;
}

.footer-menu {
    display: inline-block;
    padding-left: 12px;
    margin-top: 18px;
}

.footer-menu a {
    text-decoration: none;
    font-size: 1.8em;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-menu a:hover {          /*поведение ссылок при наведении курсора*/
    color: #3181a6;
    text-decoration: underline;
}

.copyright {
    display: inline-block;
padding-left: 120px;
font-size: 1.7em;
}