html {                  /*шрифт для всей страницы*/
    font-size: 14px;
    margin: 0 auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {                  /*фон страницы*/
    background-color: #f1eaea;
}

main {              /*ширина контента на странице*/
    width: 80%;
    margin: 0 auto;
}


.header {                   /*верхний блок с основным лого и ссылкой на статью*/
   
    background-image: url("../img/sobaki.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-bottom: .5rem solid black;
}

.header__content {              /*блок с текстом-описанием главной статьи и ссылкой*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

.header__content-text {   /*ширина текста в главной блоке главной статьи*/
    width: 84%;
}

.content__text-title {
    font-weight: 700;
    color: #d34419;
}



.header__content-btn {  /*кнопка-ссылка для перехода к главной статье*/
    width: 16%;
    text-align: end;
}

.header__content-btn> button {
    cursor: pointer;
    background-color: #d34419;
    padding: 0.5rem 1.5rem .5rem 1.5rem;
    font-weight: 700;
}

.header__content-btn a {
    text-decoration: none;
    color: white;
}

.container {    /*основной блок страницы*/
  display: flex;  
  margin-bottom: 2rem;
}

.container__cards {  /*блок с тремя карточками-статьями*/
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.container__cards-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__title {
    width: 100%;
    
}
.card__title-title {  /*заголовки карточек-статей*/
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    color: #d34419;
}
.card__title-subtitle {
    margin: 0 0 .5rem 0;
    font-style: italic;
}
.card-footer {   /*блок с ссылками для перехода к статье, комментариям и входа на сайт*/
    background-color: #d34419;
    width: 95%;
    padding: .3rem;
    margin-top: 0.5rem;
}

.card-footer a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
}

.card-img {    /*параметры изображений для карточек-статей*/
    height: 200px;
    width: 30%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-info {  /*основной текст статьи*/
    width: 66%;
    padding-right: 1rem;
}
.dog1 {
    background-image: url("../img/chihua.jpg");
    
}

.dog2 {
    background-image: url("../img/korgi.jpg");
}

.dog3 {
    background-image: url("../img/Shpits.jpg");
}

.sidebar {   /*правый блок - сайдбар*/
    background-color: bisque;
    width: 34%;
    padding: 1rem;
}

.login {   /*блок с полями входа на сайт*/
    display: flex;
    width: 85%;
}

.login__field {
    width: 47%;
}

.login__field p {
    margin-bottom: 0;
}

.login__field input {
    width: 82%;
}

.login__submit {    /*блок с кнопкой входа и ссылками на восстановление пароля и регистрацией*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.login__submit> button {
    margin-top: 1.5rem;
    width: 50%;
    cursor: pointer;
}

.login-links {      /*нижняя часть сайдбара со ссылками*/
    text-decoration: none;
    color: #d34419 ;
}

.links__forumlist>a::before {  /*спецсимволы для стилизации ссылок*/
    content: "\27A4" ;
}

.links__recent>a::before {
    content: "\2022";
}


@media screen and (max-width: 720px) {  /*задаем параметры для шапки сайта при уменьшении размера экрана*/
    .header__content-btn {
    width: 100%;
    text-align: center;
    }

    .header__content-text {
        width: 100%
    }
    
}

@media screen and (max-width: 870px) {  /*изменение положения меню входа на страницу при уменьшении экрана*/
    .login {
        display: block;
    }
}


@media screen and (max-width: 768px) {  /*меняем шрифт при уменьшении размера экрана*/
	html {
		font-size: 13px;
	}
}
@media screen and (max-width: 576px) {
	html {
		font-size: 10px;
	}
}
